{% extends 'base.html' %}

{% block title %}The Home Posts{% endblock title %}


{% block content %}
    <h1>Posts</h1>

    <ul>
        {% for post in post_list %}
        <div class="card text-center">
            <div class="card-header" style="background-color: #004D74">
                <ul class="nav nav-pills card-header-pills">
                    <li class="nav-item">
                        <a class="nav-link" style="color: #EFEFDD" href="{% url 'post_detail' post.pk %}">View Post</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: #EFEFDD" href="{% url 'post_update' post.pk %}">Edit</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: #EFEFDD" href="{% url 'post_delete' post.pk %}">Delete</a>
                    </li>
                </ul>
            </div>

            <div class="card-body" style="background-color: #97AFB9">
                <h3 class="card-title" >{{ post.title }}</h3>
                <h6 class="card-subtitle mb-2 text-muted">by {{ post.author }}</h6>
                <p class="card-text">{{ post.body }}</p>
            </div>
        </div>
      {% endfor %}
    </ul>
{% endblock content %}